﻿@model NewsletterSignupFormViewModel

<h2>Welcome to the Newsletter Signup</h2>
<p>Please use the form below to sign up recieve our newsletter</p>

<form asp-controller="Signup" asp-action="Index" method="post">
    <div class="form-horizontal">
        <h4></h4>
        <hr />

        <div class="form-group">
            <label class="col-md-2 control-label">Email Address*</label>
            <div class="col-md-10">
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">How did you hear about us?*</label>
            <div class="col-md-10">
                <select asp-for="HowDidYouHearAboutUsId" asp-items="Model.HowDidYouHearAboutUsList"></select>
                <span asp-validation-for="HowDidYouHearAboutUsId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Why are you are signing up?</label>
            <div class="col-md-10">
                <input asp-for="ReasonForSignup" class="form-control" />
                <span asp-validation-for="ReasonForSignup" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <button type="submit"  class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>